h1
{
    color: lightcoral;
}
#fruits-title
{
    color: rgb(242, 7, 230);
}
.importent-places
{
    color: blueviolet;
}
.yellow-bg
{
    background-color: yellowgreen !important;
}
.text-center
{
    text-align: center; 
}
.font
{
    font-size: 2em;
}